.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.navbar-container{
  display: flex;
  flex-direction: row;
  background-color: #00695c;
}
.nav-item{
  padding:15px;
}

.nav-content{
  text-decoration: auto;
  color: white;
}
.nav-content:hover{
  color: burlywood;
  }
.active{
  color: burlywood;
  }

.add-product-container{
  display: flex;
  flex-direction: column;  
}
.add-product-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-product-form-field{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-between;
  margin: 15px;
}
.add-product-label{
  margin-right: auto;
}
.card{
  box-shadow: 0px -2px 8px 2px rgb(0 0 255 / 20%);
}



